<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${title}"></title>
  <!-- Bootstrap CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/listClients}">Clients</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<h1 class="text-primary" th:text="${title}"></h1>
  <form th:action="@{/form}" th:object="${client}" method="post">
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-6">
        <input type="text" th:field="*{name}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Last name</label>
      <div class="col-sm-6">
        <input type="text" th:field="*{lastname}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="text" th:field="*{email}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <input type="submit" value="Create client" class="btn btn-primary" />
    </div>
    <input type="hidden" th:field="*{id}"/>
  </form>
</div>
</body>
</html>